ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b627a3;

}

li{ 
    float: left;
}

li a{
    display: block;
    color:#b627a3;
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: aqua;
}